doctype html
html(lang='en')
head
  title Inventory Manager
  meta(charset='UTC-8')
  link(rel='stylesheet' href='/stylesheets/home.css')
body
  h1 Click, type, buy. It's that simple.
  h2 Sit back and relax as we find the right parts for you
  .login 
    a(href='/inventory') 
      button Log in